In [1]:
import pandas as pd

Read data from the original .csv file, using ";" as the delimiter.

In [2]:
df_all = pd.read_csv('data_raw\many_factors\conventional_weather_stations_inmet_brazil_1961_2019.csv', sep= ';')

In [3]:
df_all

,Estacao,Data,Hora,Precipitacao,TempBulboSeco,TempBulboUmido,TempMaxima,TempMinima,UmidadeRelativa,PressaoAtmEstacao,PressaoAtmMar,DirecaoVento,VelocidadeVento,Insolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Unnamed: 19
0,82024,01/01/1961,0,NaN,NaN,NaN,32.3,NaN,NaN,NaN,NaN,NaN,NaN,4.4,NaN,NaN,26.56,82.50,3.000000,NaN
1,82024,01/01/1961,1200,NaN,26.0,23.9,NaN,22.9,83.0,994.2,NaN,5.0,5.00000,NaN,8.00,NaN,NaN,NaN,NaN,NaN
2,82024,01/01/1961,1800,NaN,32.3,27.0,NaN,NaN,65.0,991.6,NaN,5.0,3.00000,NaN,9.00,NaN,NaN,NaN,NaN,NaN
3,82024,02/01/1961,0,NaN,25.8,24.6,33.2,NaN,91.0,991.9,NaN,9.0,1.00000,10.0,7.00,NaN,28.06,77.50,5.666667,NaN
4,82024,02/01/1961,1200,16.0,26.8,24.0,NaN,23.7,78.0,995.0,NaN,5.0,7.00000,NaN,7.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12251330,83379,30/12/2019,1200,0.0,24.2,NaN,NaN,21.1,66.0,909.0,1008.8,5.0,1.02888,NaN,7.50,NaN,NaN,NaN,NaN,NaN
12251331,83379,30/12/2019,1800,NaN,29.7,NaN,NaN,NaN,46.0,905.4,1004.1,36.0,1.02888,NaN,7.50,NaN,NaN,NaN,NaN,NaN
12251332,83379,31/12/2019,0,NaN,26.6,NaN,31.6,NaN,55.0,905.5,1004.8,27.0,1.02888,6.0,0.00,NaN,25.28,58.75,0.000000,NaN
12251333,83379,31/12/2019,1200,0.0,26.9,NaN,NaN,21.3,54.0,908.6,1007.5,0.0,0.00000,NaN,8.75,NaN,NaN,NaN,NaN,NaN
12251334,83379,31/12/2019,1800,NaN,30.1,NaN,NaN,NaN,43.0,906.0,1005.0,0.0,0.00000,NaN,8.75,NaN,NaN,NaN,NaN,NaN

Review the data (columns, rows)

In [4]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12251335 entries, 0 to 12251334
Data columns (total 20 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Estacao                    int64
 1   Data                       object
 2   Hora                       int64
 3   Precipitacao               float64
 4   TempBulboSeco              float64
 5   TempBulboUmido             float64
 6   TempMaxima                 float64
 7   TempMinima                 float64
 8   UmidadeRelativa            float64
 9   PressaoAtmEstacao          float64
 10  PressaoAtmMar              float64
 11  DirecaoVento               float64
 12  VelocidadeVento            float64
 13  Insolacao                  float64
 14  Nebulosidade               float64
 15  Evaporacao Piche           float64
 16  Temp Comp Media            float64
 17  Umidade Relativa Media     float64
 18  Velocidade do Vento Media  float64
 19  Unnamed: 19                float64
dtypes: float64(17), int64(2), object(1)
memory usage: 1.8+ GB

In [5]:
df_all['Estacao'].value_counts()

82331    64581
82900    64255
82861    64184
83377    63767
83423    63314
         ...
83373    25338
83319    24785
83523    20161
83267    19460
83410    16376
Name: Estacao, Length: 265, dtype: int64

In [6]:
data = df_all[df_all['Estacao'] == 82331]

Pre-processing, cleaning the data

1. Choose columns (features) to use in the project
- Time-series: "Data" (daily)
- Main feature to perform forecasting methods on: Temperature (Celsius degree) = average of "TempBulboSeco" (Dry bulb temperature) and "TempBulboUmido" (Wet bulb temperature) of 3 measures in a day.
- Explanatory features (average of 3 measures in a day):
"Precipitacao" - Precipitation (mm)
"UmidadeRelativa" - Relative humidity (%)
"PressaoAtmEstacao" - Station Atmospheric Pressure (mbar)
"VelocidadeVento" - Wind speed(m/s)
"Nebulosidade" - Cloudiness (tenths)
"Evaporacao Piche" - Piche Evaporation (mm)

In [7]:
data_choose = data[['Data', 'TempBulboSeco', 'TempBulboUmido', 'Precipitacao', 'UmidadeRelativa', 'PressaoAtmEstacao', 'VelocidadeVento', 'Nebulosidade', 'Evaporacao Piche']].copy()

In [8]:
data_choose.columns = ['Date', 'Temp1', 'Temp2', 'Precipitation', 'Humidity', 'Atmospheric_pressure', 'Wind_speed', 'Cloudiness', 'Evaporation_piche']

In [9]:
data_choose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64581 entries, 1242686 to 1307266
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  64581 non-null  object
 1   Temp1                 64455 non-null  float64
 2   Temp2                 59035 non-null  float64
 3   Precipitation         21105 non-null  float64
 4   Humidity              54969 non-null  float64
 5   Atmospheric_pressure  60708 non-null  float64
 6   Wind_speed            62682 non-null  float64
 7   Cloudiness            63934 non-null  float64
 8   Evaporation_piche     18638 non-null  float64
dtypes: float64(8), object(1)
memory usage: 4.9+ MB

In [10]:
data_choose[data_choose['Date']=='01/01/2000']

,Date,Temp1,Temp2,Precipitation,Humidity,Atmospheric_pressure,Wind_speed,Cloudiness,Evaporation_piche
1285358,01/01/2000,26.0,25.0,NaN,92.0,1002.9,0.0,4.0,1.2
1285359,01/01/2000,24.4,23.2,5.0,90.0,1004.8,3.0,10.0,NaN
1285360,01/01/2000,27.0,24.4,NaN,81.0,1003.4,1.0,8.0,NaN

In [11]:
data_choose = data_choose.loc[1285358:].copy()

In [12]:
data_choose.isnull().sum()/len(data_choose)

Date                    0.000000
Temp1                   0.001506
Temp2                   0.248619
Precipitation           0.666667
Humidity                0.002191
Atmospheric_pressure    0.098407
Wind_speed              0.000776
Cloudiness              0.000639
Evaporation_piche       0.749464
dtype: float64


Drop "Temp2", "Precipitation", "Humidity" and "Evaporation_piche" because these columns have high rates of missing data.

In [13]:
data_clean = data_choose.drop(columns=['Temp2', 'Precipitation', 'Evaporation_piche'])

In [14]:
data_clean.reset_index(drop=True, inplace=True)

Fill missing values in each column

In [15]:
import numpy as np

In [16]:
def fill_na(df: pd.DataFrame, col: str, indices: list):
    for ind in indices:
        if ind in [0, 1, 2]:
            df.loc[ind, col] = df.loc[ind+3, col]
            continue

        if ind in [len(df)-1, len(df)-2, len(df)-3]:
            df.loc[ind, col] = df.loc[ind-3, col]
            continue

        if not np.isnan(df.loc[ind-3, col]):
            df.loc[ind, col] = df.loc[ind-3, col]
        else:
            df.loc[ind, col] = df.loc[ind+3, col]

In [17]:
def deal_missing_value(df: pd.DataFrame):
    cols = list(df.columns)[1:]
    for col in cols:
        col = str(col)
        fill_na(data_clean, col, data_clean[col].index[data_clean[col].apply(np.isnan)])

In [18]:
deal_missing_value(data_clean)

In [19]:
data_clean.isnull().sum()

Date                    0
Temp1                   0
Humidity                0
Atmospheric_pressure    0
Wind_speed              0
Cloudiness              0
dtype: int64

In [20]:
data_clean.to_csv('data_pre-processed/data_daily_3perday_from2000.csv', index=False)

In [21]:
data_clean['Date'] = pd.to_datetime(data_clean['Date'], format='%d/%m/%Y')

In [22]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21909 entries, 0 to 21908
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  21909 non-null  datetime64[ns]
 1   Temp1                 21909 non-null  float64
 2   Humidity              21909 non-null  float64
 3   Atmospheric_pressure  21909 non-null  float64
 4   Wind_speed            21909 non-null  float64
 5   Cloudiness            21909 non-null  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 1.0 MB

Calculate average daily data (from 3 times per day)

In [24]:
df = data_clean.groupby('Date').mean()
df

                Temp1   Humidity  Atmospheric_pressure  Wind_speed  Cloudiness
Date
2000-01-01  25.800000  87.666667           1003.700000    1.333333    7.333333
2000-01-02  26.000000  86.333333           1004.066667    0.333333    8.333333
2000-01-03  25.866667  85.333333           1003.733333    0.000000    8.666667
2000-01-04  26.800000  81.000000           1003.500000    0.000000    6.666667
2000-01-05  25.066667  87.000000           1003.866667    0.000000    8.333333
...               ...        ...                   ...         ...         ...
2019-12-27  27.666667  88.333333           1000.266667    0.685920    6.666667
2019-12-28  26.266667  88.000000           1000.266667    0.685920    8.750000
2019-12-29  27.600000  84.000000           1000.266667    1.371840    8.750000
2019-12-30  27.233333  83.666667           1000.266667    0.000000    9.166667
2019-12-31  26.466667  85.666667           1000.266667    0.685920    9.583333

[7305 rows x 5 columns]

In [26]:
df.rename(columns = {'Temp1': 'Avg_temp'}, inplace = True)
df

             Avg_temp   Humidity  Atmospheric_pressure  Wind_speed  Cloudiness
Date
2000-01-01  25.800000  87.666667           1003.700000    1.333333    7.333333
2000-01-02  26.000000  86.333333           1004.066667    0.333333    8.333333
2000-01-03  25.866667  85.333333           1003.733333    0.000000    8.666667
2000-01-04  26.800000  81.000000           1003.500000    0.000000    6.666667
2000-01-05  25.066667  87.000000           1003.866667    0.000000    8.333333
...               ...        ...                   ...         ...         ...
2019-12-27  27.666667  88.333333           1000.266667    0.685920    6.666667
2019-12-28  26.266667  88.000000           1000.266667    0.685920    8.750000
2019-12-29  27.600000  84.000000           1000.266667    1.371840    8.750000
2019-12-30  27.233333  83.666667           1000.266667    0.000000    9.166667
2019-12-31  26.466667  85.666667           1000.266667    0.685920    9.583333

[7305 rows x 5 columns]

Remove leap day (29/2/....) of each year

In [27]:
df = df[df.index.strftime('%m-%d') != '02-29']
df

             Avg_temp   Humidity  Atmospheric_pressure  Wind_speed  Cloudiness
Date
2000-01-01  25.800000  87.666667           1003.700000    1.333333    7.333333
2000-01-02  26.000000  86.333333           1004.066667    0.333333    8.333333
2000-01-03  25.866667  85.333333           1003.733333    0.000000    8.666667
2000-01-04  26.800000  81.000000           1003.500000    0.000000    6.666667
2000-01-05  25.066667  87.000000           1003.866667    0.000000    8.333333
...               ...        ...                   ...         ...         ...
2019-12-27  27.666667  88.333333           1000.266667    0.685920    6.666667
2019-12-28  26.266667  88.000000           1000.266667    0.685920    8.750000
2019-12-29  27.600000  84.000000           1000.266667    1.371840    8.750000
2019-12-30  27.233333  83.666667           1000.266667    0.000000    9.166667
2019-12-31  26.466667  85.666667           1000.266667    0.685920    9.583333

[7300 rows x 5 columns]

In [28]:
df.to_csv('data_pre-processed/data_daily_avg_from2000_365_withdate.csv')

In [34]:
df_to2018 = df[:-365].copy()
df_2019 = df[-365:].copy()

In [40]:
df_to2018.to_csv('data_pre-processed/data_daily_avg_from2000_365_withdate_2000_to_2018.csv')
df_2019.to_csv('data_pre-processed/data_daily_avg_from2000_365_withdate_2019.csv')

Read the name of the chosen station

In [29]:
names = pd.read_csv('data_raw\many_factors\weather_stations_codes.csv', sep= ';')
names

,Nome,Código,Latitude,Longitude,Altitude,Status da Operação,Ínicio da Operação
0,ACARAU - CE,82294,-2.88,-40.14,16.50,Estação Desativada,01/01/1923
1,AGUA BRANCA - AL,82989,-9.28,-37.90,605.34,Estação Operante,05/05/1928
2,AIMORES - MG,83595,-19.49,-41.07,82.74,Estação Operante,01/06/1972
3,ALAGOINHAS - BA,83249,-12.14,-38.42,130.92,Estação Operante,01/01/1931
4,ALTAMIRA - PA,82353,-3.21,-52.21,74.04,Estação Operante,24/04/1927
...,...,...,...,...,...,...,...
260,VICOSA - MG,83642,-20.76,-42.86,712.20,Estação Operante,01/10/1919
261,VITORIA - ES,83648,-20.31,-40.31,36.20,Estação Operante,20/11/1923
262,VITORIA DA CONQUISTA - BA,83344,-14.88,-40.79,874.81,Estação Operante,01/01/1936
263,VOTUPORANGA - SP,83623,-20.41,-49.98,502.50,Estação Operante,05/07/1976
264,ZE DOCA - MA,82376,-3.26,-45.65,45.28,Estação Operante,25/08/1970

In [30]:
names[names['Código'] == 82331]

,Nome,Código,Latitude,Longitude,Altitude,Status da Operação,Ínicio da Operação
155,MANAUS - AM,82331,-3.1,-60.01,61.25,Estação Operante,01/01/1910